.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    gap: 2rem;
    background:  var(--second-bg-color);
    padding-bottom: 6rem;
    margin-top: 200px;
    background: rgba(128, 0, 128, 0.23);
}


.aboutMe img{
    border-radius: 900px;
    
    border: .2rem solid rgb(245, 227, 245);
    margin-top: -100px;

}

.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 100px;
}

span{
    color: blueviolet;
}



.about-img{
    position: relative;
    width: 25rem;
    height:  25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border-top: .2rem solid purple;
    border-bottom: .2rem solid purple;
    border-left: .2rem solid rgb(205, 205, 205);
    border-right: .2rem solid rgb(234, 223, 234);
    margin-top: -60px;

}


.about-contenido{
    text-align: center;
    margin-top: -130px
}

.about-contenido h3{
    font-size:2.6rem ;
}

.about-contenido p{
    font-size: 1.6rem;
    margin:2rem 0 3rem;
 
}

.btn-box .btns{
    display: inline-block;
    width: 15rem;
    margin-top: 10px;
}

.btn-box .btns a::before{
    background-color: blueviolet;
}


.portafolio{
    
}


.portalofio h2{
    margin-bottom: 4rem;

}

.portafolio-container{
    
    display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center ;
   gap: 15rem;

}
.portafolio-container .portafolio-box{
    position: relative ;
    border-radius: 5rem;
    box-shadow: 0 0 1rem var(-bg-color);
    overflow: hidden;
    display: flex;
}

.portafolio-box img{
    width: 98%;
    transition: .5s ease;
}

.portafolio-box:hover img {
    transform: scale(1.1);

}

.portafolio-box:hover .portafolio-layer{
    transform: translateY(0);

}

.portafolio-box .portafolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;

    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.552) , var(--main-color));
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;

}

.portafolio-layer h4{
    font-size: 3rem;
}

.portafolio-layer p {
    font-size:1.6rem ;
    margin:  .3rem 0 1rem;

}

.portafolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}


.portafolio-layer a box-icon{
    font-size: em;
    background-color:  rgb(255, 255, 255) ;
    border-radius: 100%;
}

.perfilFoto{
    height: 900px;
    width: 900px;
}