*{
  margin: 5px;
}


.perfilFoto{
    position: absolute;
    margin-left: 510px;
    margin-top: -800px;
}

.redes-sociales{
    position: relative;
    margin-top: 100px;
}



.redes-sociales ul li{ 
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    border: 5px solid beige;
    width: 75px;
    height: 75px;
    float:right;
    
  }
  .redes-sociales ul li .fa{
    color: aliceblue;
    margin-top: 20px;
    transition: all 0.5s ease;
  }
  
  .redes-sociales{
    align-items: center;
    display: flex;
  }
  
  .redes-sociales ul li:hover .github{
    transition: all 0.5s ease;
    border: 5px solid rgb(114, 12, 135);
    box-shadow: 0 0 15px rgb(82, 2, 132);
  }
  .redes-sociales ul li:hover .fa-github{
    color: rgb(94, 9, 136);
    text-shadow: 0 0 15px rgb(84, 11, 144);
    transition: all 0,5s ease;
  }

  .redes-sociales ul li:hover .facebook{
    transition: all 0.5s ease;
    border: 5px solid rgb(98, 4, 136);
    box-shadow: 0 0 15px rgb(96, 22, 165);
  }
  .redes-sociales ul li:hover .fa-facebook{

    color: rgb(117, 2, 148);
    text-shadow: 0 0 15px rgb(92, 17, 133);
    transition: all 0,5s ease;
  }

  .redes-sociales ul li:hover .twitter{
    transition: all 0.5s ease;
    border: 5px solid rgba(97, 17, 194, 0.382);
    box-shadow: 0 0 15px rgb(117, 19, 136);
  }
  .redes-sociales ul li:hover .fa-twitter{

    color: rgb(115, 30, 132);
    text-shadow: 0 0 15px rgb(76, 28, 126);
    transition: all 0,5s ease;
  }

  .redes-sociales ul li:hover .instagram{
    transition: all 0.5s ease;
    border: 5px solid rgb(119, 0, 255);
    box-shadow: 0 0 15px rgba(99, 14, 130, 0.484);
  }
  .redes-sociales ul li:hover .fa-instagram{
    color: rgb(93, 2, 95);
    text-shadow: 0 0 15px rgb(77, 18, 110);
    transition: all 0,5s ease;
  }


  .perfilFoto-imgHover{
    position: absolute;
    top: 0;
    right: 0px;
    width: 890px;
    height: 120%;
    background: transparent;
 
    transition: 3s;
  }

  .perfilFoto-imgHover:hover{
    background: #000000;
    opacity: .8;
  }


  .contacto h2{
    margin-bottom: 3rem;
  }

  .contacto form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
  }

  .contacto form .input-box{
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }  

  .contacto form .input-box input,
  .contacto form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
  
    color: #fff ;
    background: rgb(72, 67, 67) ;
    border-radius: .8rem ;
    margin: .7rem 0;
  }


  .btn{
    color: #000000;
  }


  .contacto form .input-box input{
    width: 49%;
  }

  .contacto form textarea{
    resize: none;
  }


  .footer{
    display: flex;
    justify-content: space-between;
    align-items: wrap;
    padding: 2rem 9%;
    background: #2d2b2b;
  }


  .footer-text{
    font-size: 1.6rem;
  }

  .footer-iconTop a {
    display: inline-flex;
    justify-content: center ;
    align-items: center;
    padding: .8rem;
    border-radius: .8rem;
    transition: .5 ease;
  }


  .footer-iconTop a:hover{
box-shadow: 0 0 1rem ;
  }


  .footer-iconTop a i{
    font-size: 2.4rem;

  }